<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Responsive Web Design Agency | Cyber-Duck
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="format-detection" content="telephone=no")
        link(href="css/style.css", rel="stylesheet")
    body.ServicePage
        .wrap
            header
                div
                    .brand(itemscope itemtype="http://schema.org/Organization")
                        a(href="https://www.cyber-duck.co.uk/" accesskey="1" itemprop="url") Cyber-Duck Ltd
                nav.nav
                    a.btn-skip(href="#content" title="Skip to content" accesskey="s") Skip navigation
                    a(href="/approach/" class="top-btn-approach") approach
                    a(href="/work/" class="top-btn-work" accesskey="4") work
                    a(href="/services/" class="top-btn-services" accesskey="3") services
                    a(href="/who-we-are/" class="top-btn-who-we-are" accesskey="2") Who we are
                    a(href="#menu" class="btn-menu")
                        span.menu-open
                            span.txt-menu Menu
                            span.txt-more More
                            i
                        span.menu-close Close
                            i
                    a(href="#" target="_blank").btn-location Location
                    ul.nav-locations
                        li
                            a(href="https://goo.gl/maps/fKNDU" target="_blank") Elstree
                        li
                            a(href="https://goo.gl/maps/tC2Er" target="_blank") Farringdon
                    a.btn-call(href="tel:+8438502957")
                    a.btn-discuss(href="https://www.cyber-duck.co.uk/contact-us/" accesskey="5")
                        strong Contact us
            div
                p
                    a(href="#") Cyber-Duck
                    a(href="#") Services
                h3 RESPONSIVE WEB DESIGN
                p The powerful approach to designing and building mobile-friendly websites
                button
            div Responsive web design is a powerful way to create mobile-friendly websites. Our experts can help you raise user engagement and retention, with a website that can scale seamlessly across devices: resizing structure and content automatically. 
            div 10 YEARS OF INNOVATING OUR OWN PROCESSES
            div
                h3 RESPONSIVE WEB DESIGN
                p Businesses must cater for the growing mobile market. Half of all website traffic comes from smartphones and tablets, of all shapes and sizes. Mobile-friendliness can even influence how high websites rank in organic search results.
                p We will help you launch a fully responsive website, whether you need a fresh, unique design or retrofit for an existing site. Our responsive web design agency has experience in developing bespoke, striking websites in as little as five weeks.
                h3 USER-CENTRED DESIGN PROCESS
                p Working under our ISO accredited user-centred design process, we can design for the desires of your specific audience. We tailor experiences across devices with mobile-first production: from content strategy and interaction design, right through to build.
                p By focusing on great user experiences from small screen to big, our responsive web design agency can increase conversion rates and ensure return on investment (ROI) for clients.
            img(src="../images/CHH-Responsive-Web-Design.jpg", alt="")
            img(src="../images/Development-ISO.jpg", alt="")
            div Our mobile strategy and responsive design for GSK’s MaxiNutrition increased mobile conversions by 79%.
            div
                h3 HIGH PERFORMANCE TECHNOLOGIES
                High performance is critical on mobile. Website speed and size has a massive impact on abandonment and conversion rates: over half of smartphone users expect websites to load in under four seconds. Since 2005, our development experts have created fast, flexible websites that perform consistently across devices. Specialising in the latest HTML5 and CSS3 technologies, the team is well versed in popular responsive frameworks like Bootstrap. We’ve even developed Hoisin: our own lightweight, customisable framework, which underpins our best responsive projects.  
            div

                


    