<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Responsive Web Design Agency | Cyber-Duck
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="format-detection" content="telephone=no")
        link(rel="stylesheet", href="/css/style.css")
    body
        .ServicePage
            .wrap
                header.head#top logo
                    nav menu
                div(itemscope, itemtype="http://schema.org/Service")
                    .content--wrapping
                        section.content.content--blue
                            p.breadcumbs
                                a.breadcumbs__item(href="/") Cyber-Duck
                                a.breadcumbs__item(href="/") Services
                            h1.big-title(itemprop = "name") Responsive Web Design
                            p.subtitle The powerful approach to designing and building mobile friendly websites
                            a.talk-to-us(href="/contact-us/") 
                                i.btn.btn-explore 
                                | Talk to us
                        section.content--image
                        .clear
                    .clear

