<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Responsive Web Design Agency | Cyber-Duck
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="format-detection" content="telephone=no")
    body
        .ServicePage
            .wrap
                header.head#top
    