<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        title Responsive Web Design Agency | Cyber-Duck
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="format-detection" content="telephone=no")
        link(rel="stylesheet", href="/css/style.css")
    body
        .ServicePage
            .wrap
                header.head#top logo
                    nav menu
                div(itemscope, itemtype="http://schema.org/Service")
                    section.content.content--blue
                        p.breadcumbs
                            a.breadcumbs__item(href="/") Cyber-Duck
                            a.breadcumbs__item(href="/") Services
                        h1.big-title(itemprop = "name") Responsive Web Design
                        p.subtitle The powerful approach to designing and building mobile friendly websites
                        a.talk-to-us(href="/contact-us/") 
                            i.btn.btn-explore 
                            | Talk to us
                    section.image: img(src="images/rwd-featured-image.jpg") 
                    section.content.content
                        .block-in
                            .box-grey.box-w-img
                                .box-w-img-cont
                                    .box(itemprop="description")
                                        p Responsive web design is a powerful way to create mobile-friendly websites. Our experts can help you raise user engagement and retention, with a website that can scale seamlessly across devices: resizing structure and content automatically. 
                                .box-img
                                    .mid-cont(itemprop="image")
                                        img(src="images/Serv-anim-ux.gif", alt="")
                                .clear


