<<<<<<< HEAD
* {
  font-family: "Gotham A", "Gotham B", "Gotham", "Century Gothic", sans-serif; }

@media (min-width: 720px) {
  .big-title-img {
    background-image: url("/images/rwd-featured-image.jpg"); } }

.content--blue {
  color: white;
  background-color: #2C89BE;
  padding: 40px 20px;
  font-size: 15px; }
  .content--blue .breadcumbs__item {
    color: white; }
  .content--blue .breadcumbs__item::after {
    content: " / "; }
  .content--blue .big-title {
    font-size: 36px; }
  .content--blue .subtitle {
    font-family: "Mercury Text G1 A", "Mercury Text G1 B", "Mercury Text", "Georgia", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.3em; }

.image {
  float: right; }

.talk-to-us {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  background: white;
  padding-right: 10px; }

i.btn {
  display: block;
  width: 40px;
  height: 40px;
  float: left; }

.btn-explore {
  background-image: url("/images/sprite@2x.png");
  background-color: #e96631;
  background-position: -163px -40px;
  background-repeat: no-repeat;
  background-size: 220px 440px;
  margin-right: 10px; }
=======
@media (max-width: 1023px) and (min-width: 120px) {
  .top-btn-approach, .top-btn-work, .top-btn-services, .top-btn-who-we-are {
    display: none;
    float: left;
    height: 56px;
    padding: 5px 10px;
    line-height: 56px;
    text-transform: lowercase;
    color: black;
    text-decoration: none; }
  .btn-call {
    display: none; } }

@media (min-width: 360px) {
  .top-btn-approach {
    display: block; } }

@media (min-width: 410px) {
  .top-btn-work {
    display: block; } }

@media (min-width: 490px) {
  .top-btn-services {
    display: block; } }

@media (min-width: 620px) {
  .top-btn-who-we-are {
    display: block; } }

@media (min-width: 720px) {
  .top-btn-approach {
    display: none; }
  .top-btn-work {
    display: none; }
  .top-btn-services {
    display: none; }
  .top-btn-who-we-are {
    display: none; } }

@media (min-width: 768px) {
  .top-btn-approach {
    display: block; } }

@media (min-width: 810px) {
  .top-btn-work {
    display: block; } }

@media (min-width: 890px) {
  .top-btn-services {
    display: block; } }

@media (min-width: 990px) {
  .top-btn-who-we-are {
    display: block; } }

@media (min-width: 1024px) {
  .top-btn-approach, .top-btn-work, .top-btn-services, .top-btn-who-we-are {
    display: none; } }

.brand a {
  display: block;
  line-height: 300px;
  text-indent: 400px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: left top;
  background-image: url(../../images/cyber-duck-logo-amin.gif);
  width: 299px;
  height: 24px; }

.btn-skip {
  position: absolute;
  top: -500px; }
>>>>>>> f4e6ba32b7fbecc58bc49b60ba0c5e62a65c4013
