* {
  font-family: "Gotham A", "Gotham B", "Gotham", "Century Gothic", sans-serif; }

@media (min-width: 720px) {
  .big-title-img {
    background-image: url("/images/rwd-featured-image.jpg"); } }

.content--wrapping {
  position: relative; }

.content--blue {
  color: white;
  background-color: #2C89BE;
  padding: 40px 20px;
  font-size: 15px;
  float: left;
  width: 50%;
  box-sizing: border-box;
  border-right: 15px solid white; }
  .content--blue .breadcumbs__item {
    color: white; }
  .content--blue .breadcumbs__item::after {
    content: " / "; }
  .content--blue .big-title {
    font-size: 36px; }
  .content--blue .subtitle {
    font-family: "Mercury Text G1 A", "Mercury Text G1 B", "Mercury Text", "Georgia", serif;
    font-style: italic;
    font-weight: 400;
    font-size: 1.3em; }

.content--image {
  float: right;
  background-image: url(/images/rwd-featured-image.jpg);
  border-left: 15px solid white;
  background-position: 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box; }

.clear {
  clear: both; }

.talk-to-us {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  background: white;
  padding-right: 10px; }

i.btn {
  display: block;
  width: 40px;
  height: 40px;
  float: left; }

.btn-explore {
  background-image: url("/images/sprite@2x.png");
  background-color: #e96631;
  background-position: -163px -40px;
  background-repeat: no-repeat;
  background-size: 220px 440px;
  margin-right: 10px; }
